<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>
    body {
        background-color: gray;
    }

    #pic {
    background-image: url('http://cdn.readonepiece.com/file/mangap/2/11013000/5.JPG');
    width: 100px; /* image width */
    height: 100px; /* image height */
    display: inline-block; /* so that it behaves like the img element */
}
      </style>
<body>

  
</body>

</html>